<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>343964386871-a5k5gi6a4clf3d9vjkn1p6ougt18o2sq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343964386871-a5k5gi6a4clf3d9vjkn1p6ougt18o2sq</string>
	<key>API_KEY</key>
	<string>AIzaSyAOLqapRD0bQb_DhPJ1cTx_XHpt2-Glh6I</string>
	<key>GCM_SENDER_ID</key>
	<string>343964386871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dellop.syzygycare</string>
	<key>PROJECT_ID</key>
	<string>care-app-3184f</string>
	<key>STORAGE_BUCKET</key>
	<string>care-app-3184f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343964386871:ios:bdac61be9379577c</string>
	<key>DATABASE_URL</key>
	<string>https://care-app-3184f.firebaseio.com</string>
</dict>
</plist>